{% extends 'base.html.twig' %}
{% block title %}Add_Employee
 {% endblock %}
{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<form method="post">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="container">

	<br>
     <select name="role" class="role">
      <option value="">---Admin/Teacher---</option>
      <option value="admin">Admin</option>
      <option value="teacher">Teacher</option>
      </select>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Emp Code</th>
      <th scope="col">Emp Name</th>
      <th scope="col">Role</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2"></td>
      <td></td>
    </tr>
  </tbody>
</table>



</div>


{% endblock %}